/* Typography: ABCRom (condensed sans serif normal) by Seb McLauchlan (find free alternative) */
:root {
    --font-sans-serif: "IBM Plex Sans Condensed", sans-serif;
    --black: #000;
    --white: #fff;
    --white-almost: #fcfcfc;
    --grey: #a8a8a5;
  }
  
html {
      box-sizing: border-box;
      width: 90%;
      margin: 0 auto;
    }
*, *:before, *:after {
      box-sizing: inherit;
    }
  
body {
      font-family: "IBM Plex Sans Condensed", sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 2.5em;
      line-height: 1.3em;
      letter-spacing: 1px;
    }
  
a {
    text-decoration: underline;
    color: var(--black);
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
  }
  
img {
    display: block;
    max-width: 100%;
  }
   
h1, h2, h3, h4 {
    font-family: var(--font-sans-serif);
    font-style: normal;
    font-weight: 300;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
  
h1 {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    background-color: lightgray;
    font-size: 2em;
    font-weight: 400;
}

h2 {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    font-weight: 300;
    background-color: rgb(242, 242, 242);
}

h3 {
    display: inline-block;
    margin: 0;
    border: 1px solid var(--grey);
    padding: 1em;
}

h4 {
    font-size: 1em;
}

.component {
    padding: 2em;
    padding-left: 2em;
    overflow: hidden;
}


.component_img {
    padding-left: 3em;
}

.component_code{
    padding-left: 3em;
}

.component_img > img {
    border: 1px dashed var(--grey);
    max-width: initial;
    margin-bottom: 1em;
}

.component_code > h1 {
    font-family: var(--font-sans-serif);
    font-style: normal;
    font-weight: 200;
    font-size: 1.3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: initial;
    background-color: initial;
    padding: initial;
    float: right;
}

.component_form {
    color: var(--grey);
    font-weight: 200;
}

.button {
    color: var(--white);
    background-color: var(--black);
    text-transform: uppercase;
    font-weight: 200;
}

input[type=text] {
    width: 100%;
    padding: 1em 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid var(--black);
  }