<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oui-Non Make It Match</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="example">
            <h1>Product Card</h1>
            <img src="card.png">
        </div>
        <div class="match">
            <h1>Same Same</h1>
            <div class="card">
                <img src="card_image.png">
                <div class="card_text">
                    <div class="card_text-1">Daily banalities</div>
                    <div class="card_text-2">(Calendar)</div>
                    <div class="card_text-3">Various artists</div>
                    <div class="card_text-4">2025</div>
                    <div class="card_text-5">$35</div>
                    <div class="button">Add to Cart</div>
                </div>
            </div>
        </div>
    </div>  
</body>