<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components| Oui Non </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/components.css">
</head>
<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component_name">body</h3>
        <h4>Image from Website:</h4>
        <div class="component_img">
            <img src="images/typography/typography_sample.png" alt="typography sample">
        </div>
        <h4>Component Code:</h4>
        <div class="component_code">
            <p>Founded in London in 2020, but now based in Paris, Oui Non Éditions produces and distributes 
                limited edition publications and other printed matter designed in close collaboration 
                with artists and photographers.</p>
        </div>
    </article>
    <hr>
    <article class="component">
        <h3 class="component_name">headings</h3>
        <h4>Image from Website:</h4>
        <div class="component_img">
            <img src="images/typography/h1.png" alt="heading example">
            <img src="images/typography/h1_incontext.png" alt="heading in context with other text">
        </div>
        <h4>Component Code:</h4>
        <div class="component_code">
            <h1>(artists)</h1>
            <ul class="list_artists">
                <li>Aura Rosenberg</li>
                <li>Blommers and Schumm</li>
                <li>Camille Vivier</li>
                <li>Celia Hempton</li>
            </ul>
            <h1>(contact)</h1>
            <h1>(credits)</h1>
        </div>
    </article>
    <hr>
    <article class="component">
        <h3 class="component_name">form</h3>
        <h4>Image from Website:</h4>
        <div class="component_img">
            <img src="images/typography/form.png" alt="form sample">
        </div>
        <h4>Component Code:</h4>
        <div class="component_code">
            <p>To receive occasional updates by email about new stock and offerings, you can subscribe below.</p>
            <form class="component_form" action="#!">
                <label for="fname"> </label><br>
                <input class="component_form" type="text" id="fname" name="fname" placeholder="First name"><br>
                <label for="lname"> </label><br>
                <input class="component_form" type="text" id="lname" name="lname" placeholder="Last name"><br>
                <label for="email"> </label><br>
                <input class="component_form" type="text" id="email" name="email" placeholder="Email"><br><br>
                <input class="button" type="submit" value="Sign Up">
            </form> 
        </div>
    </article>
    <hr>
    <article class="component">
        <h3 class="component_name">links</h3>
        <h4>Image from Website:</h4>
        <div class="component_img">
            <img src="images/typography/link.png" alt="link sample">
        </div>
        <h4>Component Code:</h4>
        <div class="component_code">
            <p>hello@oui-non-editions.com (CONTACT)<br>
            <a href="https://www.instagram.com/oui_non_editions/" target="_blank">@oui-non-editions</a></p>
            <p>Web development by AP Studio(CREDITS)<br>
                Typeface designed by Seb</p>
        </div>
    </article>
    <hr>
    
    <h2>Atoms</h2>

    <article class="component">
        <h3 class="component_name">Wordmark</h3>
        <h4>Image from Website:</h4>
        <div class="component_img">
            <img src="images/header/logo.png" alt="wordmark">
        </div>
        <h4>Component Code:</h4>
        <div class="component_code">
            
        </div>
    </article>
    <hr>

    <article class="component">
        <h3 class="component_name">Buttons/Navigation Links</h3>
        <h4>Image from Website:</h4>
        <div class="component_img">
            <img src="images/atoms/button-nav.png" alt="nav button">
            <img src="images/atoms/button-nav_active.png" alt="nav active button">
            <img src="images/atoms/button-nav_hover.png" alt="nav hover button">
            <img src="images/atoms/button_add.png" alt="Add button">
        </div>
        <h4>Component Code:</h4>
        <div class="component_code">
            
        </div>
    </article>
    <hr>

    <h2>"Molecules"</h2>

    <article class="component">
        <h3 class="component_name">Header Navigation</h3>
        <h4>Image from Website:</h4>
        <div class="component_img">
            <img src="images/header/header_navbar.png" alt="Header Navigation">
        </div>
        <h4>Component Code:</h4>
        <div class="component_code">
            <div class="nav_header">
                
            </div>
        </div>
    </article>
    <hr>

    <article class="component">
        <h3 class="component_name">Product Card</h3>
        <h4>Image from Website:</h4>
        <div class="component_img">
            <img src="images/card/card.png" alt="card sample">
        </div>
        <h4>Component Code:</h4>
        <div class="component_code">
            <div class="card">
                <img src="images/card/card_image.png">
                <div class="card_text">
                    <div class="card_text-left">
                        <h4 class="card_text-upper">Daily banalities</h4>
                        <p class="card_text">Various artists</p>
                        <p class="card_text">$35</p>
                    </div>
                    <div class="card_text-right">
                        <p class="card_text-upper">(Calendar)</p>
                        <p class="card_text">2025</p>
                        <button class="button">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <hr>

    <article class="component">
        <h3 class="component_name">Product Grid</h3>
        <h4>Image from Website:</h4>
        <div class="component_img">
            <img src="images/product_grid/product_grid.png" alt="Product Grid">
        </div>
        <h4>Component Code:</h4>
        <div class="component_code">
            <div class="product_grid">
                
            </div>
        </div>
    </article>
    <hr>

    <article class="component">
        <h3 class="component_name">Footer Navigation</h3>
        <h4>Image from Website:</h4>
        <div class="component_img">
            <img src="images/footer/footer_navbar.png" alt="Footer Navigation Bar">
        </div>
        <h4>Component Code:</h4>
        <div class="component_code">
            <div class="nav-footer">
                
            </div>
        </div>
    </article>
    <hr>

</body>
</html>