<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components| Oui Non </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/components.css">
</head>
<body>
    <h1>Web Components</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component_name">body</h3>
        <div class="component_img">
            <img src="images/typography_sample.png" alt="typography sample">
        </div>
        <div class="component_code">
            <p>Founded in London in 2020, but now based in Paris, Oui Non Éditions produces and distributes 
                limited edition publications and other printed matter designed in close collaboration 
                with artists and photographers.</p>
        </div>
    </article>

    <article class="component">
        <h3 class="component_name">headings</h3>
        <div class="component_img">
            <img src="images/h1.png" alt="heading example">
            <img src="images/h1_incontext.png" alt="heading in context with other text">
        </div>
        <div class="component_code">
            <h4>(artists)</h4>
            <ul class="list_artists">
                <li>Aura Rosenberg</li>
                <li>Blommers and Schumm</li>
                <li>Camille Vivier</li>
                <li>Celia Hempton</li>
            </ul>
            <h4>(contact)</h4>
            <h4>(credits)</h4>
        </div>
    </article>
</body>
</html>